$annual: light-dark(#7657c9, #a99ae8);
$half-am: light-dark(#996200, #efc36f);
$half-pm: light-dark(#c05a17, #eeab7b);
$official: light-dark(#148057, #7bcca5);

@mixin kind-classes {
  .kindAnnual {
    --kind-color: #{$annual};
  }

  .kindHalfAm {
    --kind-color: #{$half-am};
  }

  .kindHalfPm {
    --kind-color: #{$half-pm};
  }

  .kindOfficial {
    --kind-color: #{$official};
  }
}
